@import './base.css';

#app {
  padding: 2rem;
  font-weight: normal;
  display: block; /* Ajustar o layout para bloco completo */
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: block; /* Remover o display: flex */
  }

  #app {
    max-width: 100%; /* Ajuste para garantir a ocupação total da tela */
    padding: 0 2rem;
  }
}

/* Adicione no main.css ou nos componentes relevantes */
body {
  font-family: 'Roboto', sans-serif;
  color: #49454F;
}

h3 {
  font-size: 20px;
  font-weight: bold;
  color: #1D1B20;
}

p {
  font-size: 16px;
  color: #49454F;
}

.mtb-small {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.mtb-medium {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.plr-small {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.plr-medium {
  padding-left: 2rem;
  padding-right: 2rem;
}


.ptb-small {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.pa-medium {
  padding: 2rem;
}