@import './base.css';

#app {
  max-width: 100%;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
  display: block; /* Ajustar o layout para bloco completo */
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: block; /* Remover o display: flex */
  }

  #app {
    max-width: 100%; /* Ajuste para garantir a ocupação total da tela */
    padding: 0 2rem;
  }
}

/* Adicione no main.css ou nos componentes relevantes */
body {
  font-family: 'Roboto', sans-serif;
  color: #49454F;
}

h3 {
  font-size: 20px;
  font-weight: bold;
  color: #1D1B20;
}

p {
  font-size: 16px;
  color: #49454F;
}