.Titulo_principal {
    font-size: 24px;
    color: #333;
}

.Titulo_cadastro {
    margin-left: 50px;
}

.Titulo_nome, .Titulo_descricao {
    display: block;
    margin-left: 50px;
}

.Titulo_tag_relacionada {
    margin-left: 50px;

}

.Campo_nome, .Campo_descricao {
    display: block;
    width: 400px;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 10px;
    margin-left: 50px;
    border-radius: 8px;
    background-color: #e8cafc;
}

.Campo_tags_relacionadas {
    margin-left: 50px;
    border-radius: 8px;
    width: 100px;
    padding: 5px;
}

.salvar_tags {
    margin-left: 50px;
    border-radius: 8px;
    width: 70px;
    padding: 10px;
    color: white;
    background-color: mediumpurple;
}
