<!DOCTYPE html>
<head>
    <title>Mock News</title>
</head>

<body>
    <header>
        <h1>I'm a news outlet!</h1>
    </header>
    <nav>
        <a href="/">back</a>
    </nav>
    <main>
        <p>This news includes Foo content</p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam tincidunt nunc sed massa accumsan, id placerat velit luctus. Etiam dictum eget felis a semper. Donec porttitor tortor vel erat sagittis fringilla. Maecenas fermentum erat in enim fermentum molestie. Donec vel bibendum sem, sit amet luctus metus. Quisque semper ante placerat, molestie metus ut, sollicitudin eros. Donec vel nunc erat. Vestibulum diam quam, condimentum nec imperdiet ac, bibendum vitae nisi. Foo Donec eget viverra ipsum.

            Nulla varius consequat gravida. Suspendisse nisl lacus, feugiat sed metus vel, eleifend dictum nisl. Donec massa nisl, feugiat sit amet cursus ac, suscipit eu nulla. Donec sed nibh mauris. Praesent dictum lobortis leo, ac pellentesque libero tincidunt eu. Quisque bibendum dui quam, sed tempus ligula sodales et. Donec at eleifend ligula. Etiam sed arcu ante. Fusce eu facilisis justo. Etiam quis efficitur ipsum. Donec sit amet imperdiet leo. In mauris ante, egestas non odio quis, egestas aliquet quam.

            Integer varius quis erat vel efficitur. Nam facilisis lacus erat, eget vestibulum tellus eleifend sit amet. In arcu enim, tempus a blandit eget, efficitur at turpis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ut nulla tellus. Phasellus eget eleifend turpis, non sodales enim. Sed et lectus eu sapien egestas tempor at at magna. Duis ut elit tellus. Mauris sagittis nisi in nunc venenatis fermentum. Foo Nam imperdiet ligula et efficitur convallis. Nunc venenatis non velit eu varius. Sed sagittis dapibus faucibus. Aenean id orci vel leo faucibus pulvinar vel at lorem. Nullam suscipit tempus odio, sit amet sagittis ipsum suscipit sed. Curabitur nec ex libero.

            Donec eros dolor, dignissim in faucibus ac, mattis in magna. Proin ac semper neque, lobortis mattis ipsum. Duis ultrices, ex sed tincidunt posuere, metus mi iaculis dolor, a sodales leo libero sed eros. Morbi ultricies auctor leo, sed accumsan tellus consequat sit amet. Nam tempus metus a bibendum feugiat. Pellentesque eu vehicula nibh. Praesent auctor, justo nec mattis feugiat, nibh orci viverra leo, ac cursus leo massa vehicula arcu. Cras mollis erat a dui ultrices volutpat. Aliquam in neque a erat ultricies tristique. Mauris sed purus ac arcu porttitor feugiat a tempus ligula. Donec mollis porta odio, sed eleifend neque fermentum a. Praesent commodo consectetur justo, ut venenatis sem hendrerit eget. Etiam urna elit, vestibulum a velit non, viverra malesuada nulla.

            Aenean in lacinia nulla. Vestibulum vestibulum pharetra arcu, id vehicula sem mollis feugiat. Vestibulum at lacus aliquet, finibus sem ac, commodo metus. Mauris maximus semper quam at auctor. Curabitur viverra odio ac odio aliquet, at dictum diam commodo. Nam non placerat lacus, a sagittis nibh. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Ut ullamcorper sed neque ac condimentum. Aliquam erat volutpat. In molestie nibh lacus, at gravida dolor porta nec. Pellentesque tincidunt, diam id tristique iaculis, mi lectus tincidunt odio, ac sollicitudin nibh lectus et est. Donec vel Foo elit ornare, eleifend massa et, fermentum ante. 
        </p>
    </main>
</body>