<!DOCTYPE html>
<head>
    <title>Mock News</title>
</head>

<body>
    <header>
        <h1>I'm a news outlet!</h1>
    </header>
    <nav>
        <a href="/">back</a>
        <ul>
            <li>
                <a href="news/foo">
                    Mock news Foo
                </a>
            </li>
            <li>
                <a href="news/bar">
                    Mock news Bar
                </a>
            </li>

            <li>
                <a href="news/baz">
                    Mock news Baz
                </a>
            </li>
        </ul>
    </nav>
</body>